.create-hotel-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-hotel-modal-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80em;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
}

.create-hotel-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    gap: 0.2em 1em;
}

.create-hotel-modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
}

.create-hotel-modal-close > svg {
    display: block;
    fill: red;
    height: 1.5em;
    cursor: pointer;
}

.create-hotel-modal-title {
    text-align: center;
}

.create-hotel-label {
    font-size: 1.2em;
}

.create-hotel-label::after {
    content: '*';
    color: red;
}

.create-hotel-input {
    background-color: rgba(0, 0, 0, 0.03);
    outline: 2px solid #537178;
    border-radius: 5px;
    height: 2em;
    font-size: 1.2em;
    text-indent: 2.3em;
    width: 25em;
    transition: ease-out 0.2s;

}
.create-hotel-input:focus {
    outline: 2px solid #c5e0dc
}
.create-hotel-input:hover {
    outline: 2px solid  #c5e0dc;
}

.create-hotel-input-with-icon {
    position: relative;
}

.create-hotel-input-with-icon svg {
    height: 1.5em;
    width: 1.5em;
    fill: white;
}

.input-icon {
    position: absolute;
    width: 2.5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #537178;
}

.create-hotel-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

#create-button,
#cancel-button {
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    padding: 0.4em 3em;
    margin: 1em 0;
    cursor: pointer;
}

#create-button {
    background-color: #537178;
}
#create-button:hover {
    background-color: rgba(83, 113, 120, 0.8);
}
#cancel-button {
    background-color: red;
}
#cancel-button:hover {
    background-color: rgba(255, 0, 0, 0.8);
}