/* You can add global styles to this file, and also import other style files */
@import 'styles/reset.css';
@import 'styles/typography.css';
:root {
    --filter-hex-height: 10em;
    --primary-color-background: #537178;
    --send-button-padding: 0.5em
}
.error {
    color: red;
}