<main>
    <section class="destination-selected-banner" *ngIf="destination">
        <div class="destination-selected-banner-img">
            <img src={{destination.imgURL}}
                alt="">
        </div>
        <h2>{{destination.destinationName}}</h2>
        <div class="destination-selected-hotels-fillter-wrapper">
            <div class="destination-selected-hotels-fillter-type">
                <h4>Type</h4>
                <input class="destination-selected-hotels-fillter-input" type="text" />
            </div>
            <div class="destination-selected-hotels-fillter-rating">
                <h4>Rating</h4>
                <input class="destination-selected-hotels-fillter-input" type="text" />
            </div>
            <div class="destination-selected-hotels-fillter-date">
                <h4>Date</h4>
                <input class="destination-selected-hotels-fillter-input" type="date" />
            </div>
        </div>
    </section>
    <section class="destination-selected-hotel-cards-wrapper">
        <app-add-hotel-card />
        <app-hotel-card *ngFor="let hotel of destination?.hotels"
            [hotel]="hotel"
            [destinationLocation]="destination?.destinationLocation"
         />
    </section>
    <app-hotel-modal *ngIf="(modalService.modalStatus$ | async)"
     [destination]="destination"
     (hotelListUpdated)="handleHotelListUpdate($event)"/>
</main>