:host {
    flex-grow: 1;
}
.destination-selected-banner {
    position: relative;
    height: calc(30em + (var(--filter-hex-height)/2));
}
.destination-selected-banner-img {
    height: 30em;
}
.destination-selected-banner-img > img {
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
}
.destination-selected-banner h2 {
    position: absolute;
    top: calc(100% - (var(--filter-hex-height)));
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.destination-selected-hotels-fillter-wrapper {
    position: absolute;
    display: flex;
    height: var(--filter-hex-height);
    top: calc(100% - (var(--filter-hex-height)/2));
    left: 50%;
    background-color: white;
    box-shadow: 0 0 2em rgba(0,0,0,0.2);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50em;
}
.destination-selected-hotels-fillter-type,
.destination-selected-hotels-fillter-rating,
.destination-selected-hotels-fillter-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-right: 2em;
}
.destination-selected-hotels-fillter-type,
.destination-selected-hotels-fillter-rating {
    border-right: 2px solid var(--primary-color-background);
}
.destination-selected-hotels-fillter-input {
    width: 8em;
    background-color: rgba(0, 0, 0, 0.03);
    outline: 2px solid #537178;
    border-radius: 3px;
    height: 1.2em;
    font-size: 1.2em;
    
}
/* card */

.destination-selected-hotel-cards-wrapper {
    padding: 6em;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
}