.destination-card-single-edit-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
}
.destination-card-single-edit-button > svg {
    display: block;
    height: 1.5em;
    fill: var(--primary-color-background);
}