:host {
    flex: 1 1 auto;
}
.destinations-banner {
    position: relative;
}
.destinations-image-container {
    height: 30em;
    position: relative;
}
.destinations-image-container > img {
    object-fit: cover;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
}
.destinations-image-text-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.destination-search-bar-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.destinations-search-bar-wrapper {
    position: relative;
}
.destinations-search-bar-wrapper > input {
    border-radius: 10px;
    width: 20em;
    height: 2em;
    font-size: 1.2em;
    text-indent: 1.8em;
}
.destinations-search-bar-wrapper > input:focus {
    outline: 2px solid #c5e0dc
}
.destinations-search-bar-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
.destinations-search-bar-icon > svg {
    height: 1.3em;
    display: block;
}
.destinations-cards-title-wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.destinations-cards-title-border {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 224, 220);
}
.destinations-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    gap: 2em;
}