<main>
    <section class="destinations-banner">
        <div class="destinations-image-container">
            <img
                src="https://images.unsplash.com/photo-1689613188635-e363f305a2ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1920&q=80">
        </div>
        <div class="destinations-image-text-inside">
            <h3>Discover Your Perfect Destination: Plan Your Dream Getaway</h3>
        </div>
        <app-search />
    </section>
    <section class="destinations-cards-container">
        <div class="destinations-cards-title-wrapper">
            <div class="destinations-cards-title-border"></div>
            <h3>Popular Destinations</h3>
            <div class="destinations-cards-title-border"></div>
        </div>
        <div class="destinations-cards-wrapper">
            <app-destination-card *ngFor="let destination of destinationList | popularFilter: true"
                [destination]="destination"
                [destinationList]="destinationList"
                (detinationData)="onDestinationEdit($event)"
                (destinationListUpdated)="handleDestinationListUpdate($event)">
            </app-destination-card>
            <app-add-destination-card
                (createDestinationClicked)="onDestinationCreate($event)">
            </app-add-destination-card>
        </div>
        <div class="destinations-cards-title-wrapper">
            <div class="destinations-cards-title-border"></div>
            <h3>Destinations</h3>
            <div class="destinations-cards-title-border"></div>
        </div>
        <div class="destinations-cards-wrapper">
            <app-destination-card *ngFor="let destination of destinationList | popularFilter: false"
                [destination]="destination"
                [destinationList]="destinationList"
                (detinationData)="onDestinationEdit($event)"
                (destinationListUpdated)="handleDestinationListUpdate($event)">
            </app-destination-card>
            <app-add-destination-card
                (createDestinationClicked)="onDestinationCreate($event)">
            </app-add-destination-card>
        </div>
        <ng-container *ngIf="(modalService.modalStatus$ | async) && isCreating; else editModal">
            <app-destination-modal
                (destinationListUpdated)="handleDestinationListUpdate($event)"
                [destinationList]="destinationList">
            </app-destination-modal>
        </ng-container>

        <ng-template #editModal>
            <app-destination-modal *ngIf="(modalService.modalStatus$ | async) && isEditing"
                [isEditMode]="isEditing"
                (destinationListUpdated)="handleDestinationListUpdate($event)"
                [destinationList]="destinationList"
                [destinationDataToEdit]="destinationDataToEdit">
            </app-destination-modal>
        </ng-template>
    </section>
</main>