:host {
    flex-grow: 1;
}
.hotel-details-container {
    display: flex;
    flex-direction: column;
    padding: 1em 20%;
    gap: 1em;
}
.hotel-details-title-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.hotel-details-title-wrapper svg {
    fill: goldenrod;
    height: 1.5em;
}
.hotel-details-image-booking-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.hotel-details-image {
    flex: 1 1 30em;
}
.hotel-details-image img {
    width: 100%;
    height: auto;
}
/* booking card */
.hotel-details-booking {
    flex: 1 1 auto;
    height: 15em;
    justify-self: center;
    align-self: center;
    margin-left: auto;
    border: 2px solid rgb(197, 224, 220);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    border-radius: 8px;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.hotel-details-rating {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em
}
.hotel-details-raiting-value {
    background-color: #003580;
    color: white;
    padding: 0.3em;
}
.hotel-details-raiting-text {
    font-weight: 700;
}
.hotel-details-raiting-counts {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.75em;
    align-self: center;
}
.hotel-details-edit-delete-btns {
    display: flex;
    gap: 1em;
    justify-content: center;
}
.hotel-details-edit-btn,
.hotel-details-delete-btn {
    flex: 1 1 10em;
    color: white;
}
.hotel-details-edit-btn {
    background-color: green;
}
.hotel-details-delete-btn {
    background-color: red;
}
.buttons-options {
    padding: 0.6em 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    margin-top: 0.2em;
}
.not-logged {
    font-size: 1.2em;
    margin-top: auto;
    text-align: center;
}
.hotel-details-booking > button {
    display: block;
    width: 100%;
    background-color: #3498db;
    transition: background-color 0.3s;
    margin-top: auto;
}
.hotel-details-booking button:hover {
    background-color: #2980b9;
}
/* section title */
.hotel-details-information-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 0;
}
.hotel-details-information-title-border {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 224, 220);
}
