<main>
    <section class="banner">
        <div class="image-container">
            <img src="../../../assets/images/sea-home.jpg" alt="">
        </div>
        <div class="image-text-inside">
            <div class="border"></div>
            <h3>Escape to Tranquility and Recharge Your Senses</h3>
            <a routerLink="/destinations">Explore now!</a>
        </div>
    </section>
    <section class="lastest-offers">
        <div class="section-title">
            <div class="lastest-offers-border"> </div>
            <h3>Lastest Destinations</h3>
            <div class="lastest-offers-border"></div>
        </div>
        <div class="card-container" >
            <app-destination-card *ngFor="let destination of destinationList"
            [destination]="destination"/>
        </div>
    </section>
</main>