@import '(../../../../../shared/styles/review-card.css';

.reviews-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 0;
}
.reviews-title-border {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(197, 224, 220);
}
.reviews-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.review-content {
    flex: 1 1 auto;
}
.review-avatar-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0.2em 0;
}
.review-avatar-info-rating {
    background-color: #003580;
    color: white;
    padding: 0.1em;
}
.review-load-more button {
    width: 100%;
    padding: 0.2em 0;
    background-color: rgb(197, 224, 220);
}